
.ant-layout-sider {
  background: #fff;
  /*border-right: 1px solid #e8e8e8*/
}

.layout-nz {
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: 0;
  background: #f0f2f5;
  border-left: 1px solid #e8e8e8;
}

.ant-layout-footer {
  padding: 10px 0px;
}
