<nz-layout class="layout">
  <app-header (nzCollapsed)="launchSidebar()"></app-header>
  <nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
      <app-sider [isCollapsed]="isCollapsed"></app-sider>
    </nz-sider>
    <nz-layout [ngStyle]="{'margin-left':isCollapsed?'0px':'0px','padding':'0px 0px 0px'}" class="layout-nz">
      <app-reuse-tab [list]="menuList"></app-reuse-tab>
      <app-breadcrumb></app-breadcrumb>
      <nz-content style="background:#fff;">
        <p>
          dashboard works!
        </p>
      </nz-content>
      <nz-footer style="text-align: center;">
        Made with <i nz-icon [nzType]="'heart'" [nzTheme]="'fill'"></i> in CLSEDU
      </nz-footer>
    </nz-layout>
  </nz-layout>
</nz-layout>
